<div class="main-div">
    <mat-card>       
        <form class="box">
            <img class="logo" src="assets/img/logo.png" alt="logo">
            <mat-card-title class="tittle">
                Login
            </mat-card-title>
            <mat-form-field>
                <input matInput placeholder="Usuário" [(ngModel)]="user.name" name="name" required>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input type="password" matInput placeholder="Senha" [(ngModel)]="user.password" name="password"
                    required>
            </mat-form-field>
            <br>
            <button mat-raised-button (click)="login()" color="primary">Login</button>
        </form>
    </mat-card>
</div>